<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
#app {
  margin-top: 50px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
h1, h2, h3, h4 {
  margin-top: 0;
}
h2 {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
input {
  width: 200px;
  display: block;
  margin-bottom: 10px;
}
select {
  width: 210px;
  display: block;
  margin-bottom: 10px;
}
.controls {
  margin-bottom: 10px;
}
</style>
