<template>
  <form @submit.prevent="login">
    <h2>Авторизация</h2>
    <input v-model="username" type="text" placeholder="Логин">
    <input v-model="password" type="password" placeholder="Пароль">
    <button type="submit">Войти</button>
  </form>
</template>

<script>
import http from "../assets/httpRequest";

export default {
  name: "AuthPage",
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login () {
      http('post', 'login', {
        username: this.username,
        password: this.password
      })
        .then(({accessToken}) => {
          if (accessToken) {
            localStorage.setItem('accessToken', accessToken)
            this.$router.push('/')
          }
        })
    }
  }
}
</script>

<style scoped>

</style>
