<template>
  <div>
    <h2>Информационная система "Абоненты мобильной связи"</h2>

    <div class="header">
      <router-link to="users-view">
        Таблица пользователей
      </router-link>
      <router-link to="tarif-view">
        Таблица тарифов
      </router-link>
      <router-link to="city-view">
        Таблица городов
      </router-link>
      <router-link to="messenger-view">
        Таблица мессенджеры
      </router-link>
      <router-link to="export-view">
        Экспорт
      </router-link>
      <router-link to="statistic-view">
        Таблица статистики
      </router-link>
    </div>
    <div class="body">
      <router-view />
    </div>
  </div>
</template>

<script>
// import http from "../assets/httpRequest";

export default {
  name: "CabinetPage",
  created() {
    // http('get', 'users')
    //   .then((res) => {
    //     console.log(res)
    //   })
  }
}
</script>

<style scoped>
.header {
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
a {
  /*border: 1px solid #000;*/
  color: #000;
  padding: 2px 5px;
  margin-right: 15px;
}

a.active {
  color: dodgerblue;
}
</style>
