<template>
  <div>
    <div class="controls">
      <button @click="showAddModal = true">Добавить новый город</button>
    </div>

    <table>
      <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Действия</td>
      </tr>
      <tr v-for="(item, i) in data" :key="i">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
          <button @click="updatedCity = cloneDeep(item)">Редактировать</button>
          <button @click="deleteCity(item.id)">Удалить</button>
        </td>
      </tr>
    </table>

    <modal v-model="showAddModal">
      <form @submit.prevent="addCity">
        <h4>Добавить город</h4>
        <input v-model="newCity.name" type="text" placeholder="Название">
        <button type="submit">Добавить</button>
      </form>
    </modal>
    <modal :value="!!updatedCity" @input="updatedCity = false">
      <form @submit.prevent="update">
        <h4>Обновить город</h4>
        <input v-model="updatedCity.name" type="text" placeholder="Название">
        <button type="submit">Обновить</button>
      </form>
    </modal>
  </div>
</template>

<script>
import http from "../assets/httpRequest";
import Modal from "./Modal";
import { cloneDeep } from "lodash";

export default {
  name: "CityView",
  components: {
    Modal
  },
  data() {
    return {
      cloneDeep,
      data: [],
      newCity: {},
      showAddModal: false,
      updatedCity: false
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      http('get', 'city')
        .then(res => {
          this.data = res
        })
    },
    addCity() {
      http('post', 'city', {
        name: this.newCity.name
      })
        .then(res => {
          if (res.status === 201) {
            this.getData()
            alert('Город добавлен успешно')
            this.showAddModal = false
          }
        })
    },
    update() {
      http('put', `city/${this.updatedCity.id}`, {
        name: this.updatedCity.name
      })
        .then(res => {
          if (res.status === 200) {
            this.getData()
            alert('Город обновлён')
            this.updatedCity = false
          }
        })
    },
    deleteCity(id) {
      http('delete', `city/${id}`)
        .then(res => {
          if (res.status === 200) {
            this.getData()
            alert('Город удалён')
          }
        })
    }
  }
}
</script>

<style scoped>
table {
  border-collapse: collapse;
  border: 1px solid black;
}
td, th {
  padding: 3px;
  border: 1px solid black;
}
</style>
