<template>
  <div>
    <div class="controls">
      <button @click="exportEvent">Экспорт</button>
    </div>
  </div>
</template>

<script>
import http from "../assets/httpRequest";

export default {
  name: "ExportView",
  components: {
  },
  data() {
    return {
    }
  },
  methods: {
    exportEvent() {
      http('get', 'export')
        .then(res => {
          if (res) {
            let blob = new Blob([res], {
              type: ''
            });

            const a = document.createElement("a");
            a.href = URL.createObjectURL(blob);
            a.download = 'export.xlsx';
            a.click();
          }
        })
    }
  }
}
</script>

<style scoped>

</style>
