<template>
  <div>
    <div class="controls">
      <button @click="showAddModal = true">Добавить новый мессенджер</button>
    </div>

    <table>
      <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Действия</td>
      </tr>
      <tr v-for="(item, i) in data" :key="i">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
          <button @click="updatedMessenger = cloneDeep(item)">Редактировать</button>
          <button @click="deleteMessenger(item.id)">Удалить</button>
        </td>
      </tr>
    </table>

    <modal v-model="showAddModal">
      <form @submit.prevent="addMessenger">
        <h4>Добавить мессенджер</h4>
        <input v-model="newMessenger.name" type="text" placeholder="Название">
        <button type="submit">Добавить</button>
      </form>
    </modal>
    <modal :value="!!updatedMessenger" @input="updatedMessenger = false">
      <form @submit.prevent="update">
        <h4>Обновить мессенджер</h4>
        <input v-model="updatedMessenger.name" type="text" placeholder="Название">
        <button type="submit">Обновить</button>
      </form>
    </modal>
  </div>
</template>

<script>
import http from "../assets/httpRequest";
import Modal from "./Modal";
import { cloneDeep } from "lodash";

export default {
  name: "MessengerView",
  components: {
    Modal
  },
  data() {
    return {
      cloneDeep,
      data: [],
      newMessenger: {},
      showAddModal: false,
      updatedMessenger: false
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      http('get', 'messenger')
        .then(res => {
          this.data = res
        })
    },
    addMessenger() {
      http('post', 'messenger', {
        name: this.newMessenger.name
      })
        .then(res => {
          if (res.status === 201) {
            this.getData()
            alert('Мессенджер добавлен успешно')
            this.showAddModal = false
          }
        })
    },
    update() {
      http('put', `messenger/${this.updatedMessenger.id}`, {
        name: this.updatedMessenger.name
      })
        .then(res => {
          if (res.status === 200) {
            this.getData()
            alert('Мессенджер обновлён')
            this.updatedMessenger = false
          }
        })
    },
    deleteMessenger(id) {
      http('delete', `messenger/${id}`)
        .then(res => {
          if (res.status === 200) {
            this.getData()
            alert('Мессенджер удалён')
          }
        })
    }
  }
}
</script>

<style scoped>
table {
  border-collapse: collapse;
  border: 1px solid black;
}
td, th {
  padding: 3px;
  border: 1px solid black;
}
</style>
