<template>
  <div>
    <button type="button" @click="arr.push(null)" style="margin-bottom: 10px;">
      Добавить мессенджер
    </button>
    <entity-select
        v-for="(item, i) in arr"
        :key="i"
        :value="arr[i]"
        @input="arr[i] = $event; $emit('input', arr)"
        placeholder="Мессенджер"
        :callback="() => http('get', 'messenger')"
    />
  </div>
</template>

<script>
import Select from "./Select";
import http from "../assets/httpRequest";

export default {
  name: "MessengersSelect",
  components: {
    'entity-select': Select
  },
  data() {
    return {
      http,
      arr: []
    }
  }
}
</script>

<style scoped>

</style>
