<template>
  <div v-if="value" class="wrap">
    <div class="content">
      <button class="close" @click="$emit('input', false)">×</button>

      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    value: Boolean
  }
}
</script>

<style scoped>
.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
}
.content {
  padding: 20px;
  background: #fff;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  top: 0;
  right: -40px;
}
</style>
