<template>
  <div>
    <select
        v-model="selected"
    >
      <option value="0" disabled>{{placeholder}}</option>
      <option
          v-for="(item, i) in list"
          :key="i"
          :value="item.id"
      >
        {{item.name}}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: "Select",
  props: {
    value: Number,
    placeholder: {
      type: String,
      required: true
    },
    callback: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      list: [],
      selected: 0
    }
  },
  created() {
    this.callback()
      .then(res => {
        this.list = res
      })
  },
  watch: {
    selected (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style scoped>

</style>
