<template>
  <div>
    <div class="controls">
      <button @click="clusterEvent">Кластеризация</button>
      <button @click="clusterExport">Экспорт кластеризации</button>
      <button @click="showTable = !showTable">Свернуть/развернуть таблицу</button>
    </div>
    <table>
      <tr>
        <td>ID</td>
        <td>Возраст</td>
        <td>Средний расход в месяц</td>
        <td>Звонки в другие города в месяц</td>
        <td>Кол-во сообщений в месяц</td>
      </tr>
      <template v-if="showTable">
        <tr v-for="(item, i) in data" :key="i">
          <td>{{item.id}}</td>
          <td>{{item.age}}</td>
          <td>{{item.price}}</td>
          <td>{{item.otherCity}}</td>
          <td>{{item.message}}</td>
        </tr>
      </template>
    </table>

    <div v-if="clusterData">
      <chart-component
        :chartdata="{
          datasets: datasetsComputed
        }"
      />
    </div>
  </div>
</template>

<script>
import http from "../assets/httpRequest";
import ChartComponent from "./ChartComponent";
export default {
  name: "StatisticView",
  components: {
    ChartComponent
  },
  data() {
    return {
      data: [],
      clusterData: null,
      showTable: false
    }
  },
  created() {
    this.getData()
  },
  computed: {
    datasetsComputed() {
      if (!this.clusterData) return []

      return this.clusterData
    }
  },
  methods: {
    getData() {
      http('get', 'statistic')
        .then(res => {
          this.data = res
        })
    },
    clusterEvent() {
      http('get', 'statistic-cluster')
        .then((res) => {
          this.clusterData = res
        })
    },
    clusterExport() {
      http('get', 'statistic-export')
        .then(res => {
          if (res) {
            let blob = new Blob([res], {
              type: ''
            });

            const a = document.createElement("a");
            a.href = URL.createObjectURL(blob);
            a.download = 'export-cluster.xlsx';
            a.click();
          }
        })
    }
  }
}
</script>

<style scoped>
table {
  border-collapse: collapse;
  border: 1px solid black;
}
td, th {
  padding: 3px;
  border: 1px solid black;
}
</style>
