<template>
  <div>
    <div class="controls">
      <button @click="showAddModal = true">Добавить новый тариф</button>
    </div>

    <table>
      <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Действия</td>
      </tr>
      <tr v-for="(item, i) in data" :key="i">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
          <button @click="updatedTarif = cloneDeep(item)">Редактировать</button>
          <button @click="deleteTarif(item.id)">Удалить</button>
        </td>
      </tr>
    </table>

    <modal v-model="showAddModal">
      <form @submit.prevent="addTarif">
        <h4>Добавить тариф</h4>
        <input v-model="newTarif.name" type="text" placeholder="Название">
        <button type="submit">Добавить</button>
      </form>
    </modal>
    <modal :value="!!updatedTarif" @input="updatedTarif = false">
      <form @submit.prevent="update">
        <h4>Обновить тариф</h4>
        <input v-model="updatedTarif.name" type="text" placeholder="Название">
        <button type="submit">Обновить</button>
      </form>
    </modal>
  </div>
</template>

<script>
import http from "../assets/httpRequest";
import Modal from "./Modal";
import { cloneDeep } from "lodash";

export default {
  name: "TarifView",
  components: {
    Modal
  },
  data() {
    return {
      cloneDeep,
      data: [],
      newTarif: {},
      showAddModal: false,
      updatedTarif: false
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      http('get', 'tarif')
        .then(res => {
          this.data = res
        })
    },
    addTarif() {
      http('post', 'tarif', {
        name: this.newTarif.name
      })
        .then(res => {
          if (res.status === 201) {
            this.getData()
            alert('Тариф добавлен успешно')
            this.showAddModal = false
          }
        })
    },
    update() {
      http('put', `tarif/${this.updatedTarif.id}`, {
        name: this.updatedTarif.name
      })
        .then(res => {
          if (res.status === 200) {
            this.getData()
            alert('Тариф обновлён')
            this.updatedTarif = false
          }
        })
    },
    deleteTarif(id) {
      http('delete', `tarif/${id}`)
        .then(res => {
          if (res.status === 200) {
            this.getData()
            alert('Тариф удалён')
          }
        })
    }
  }
}
</script>

<style scoped>
table {
  border-collapse: collapse;
  border: 1px solid black;
}
td, th {
  padding: 3px;
  border: 1px solid black;
}
</style>
