<template>
  <div>
    <div class="controls">
      <button @click="showAddModal = true">Добавить нового пользователя</button>
    </div>

    <table>
      <tr>
        <td>ID</td>
        <td>Телефон</td>
        <td>ФИО</td>
        <td>Возраст</td>
        <td>Пол</td>
        <td>Тариф</td>
        <td>Город</td>
        <td>Подключённые мессенджеры</td>
        <td>Действия</td>
      </tr>
      <tr v-for="(item, i) in data" :key="i">
        <td>{{item.id}}</td>
        <td>{{item.phone || ''}}</td>
        <td>{{item.fio || ''}}</td>
        <td>{{item.age || ''}}</td>
        <td>{{item.gender ? item.gender.name : ''}}</td>
        <td>{{item.tarif ? item.tarif.name : ''}}</td>
        <td>{{item.city ? item.city.name : ''}}</td>
        <td>
          <template v-if="item.messengers">
            <p
              v-for="(itemMess, iMess) in item.messengers"
              :key="iMess"
              style="margin: 0;"
            >
              {{itemMess.name}}
            </p>
          </template>
        </td>
        <td>
          <button @click="updatedUser = cloneDeep(item)">Редактировать</button>
          <button @click="deleteUser(item.id)">Удалить</button>
        </td>
      </tr>
    </table>

    <modal v-model="showAddModal">
      <form @submit.prevent="addUser">
        <h4>Добавить пользователя</h4>
        <input v-model="newUser.phone" type="text" placeholder="Телефон">
        <input v-model="newUser.fio" type="text" placeholder="ФИО">
        <input v-model="newUser.age" type="number" placeholder="Возраст">
        <entity-select v-model="newUser.genderId" placeholder="Пол" :callback="() => http('get', `gender`)" />
        <entity-select v-model="newUser.tarifId" placeholder="Тариф" :callback="() => http('get', `tarif`)" />
        <entity-select v-model="newUser.cityId" placeholder="Город" :callback="() => http('get', `city`)" />
        <button type="submit">Добавить</button>
      </form>
    </modal>
    <modal :value="!!updatedUser" @input="updatedUser = false">
      <form @submit.prevent="update">
        <h4>Обновить пользователя</h4>
        <input v-model="updatedUser.phone" type="text" placeholder="Телефон">
        <input v-model="updatedUser.fio" type="text" placeholder="ФИО">
        <input v-model="updatedUser.age" type="number" placeholder="Возраст">
        <entity-select v-model="updatedUser.genderId" placeholder="Пол" :callback="() => http('get', `gender`)" />
        <entity-select v-model="updatedUser.tarifId" placeholder="Тариф" :callback="() => http('get', `tarif`)" />
        <entity-select v-model="updatedUser.cityId" placeholder="Город" :callback="() => http('get', `city`)" />
        <messengers-select :value="updatedUser.messengers" @input="updatedUser.messengerId = $event" />
        <button type="submit">Обновить</button>
      </form>
    </modal>
  </div>
</template>

<script>
import http from "../assets/httpRequest";
import Modal from "./Modal";
import { cloneDeep } from 'lodash'
import Select from "./Select";
import MessengersSelect from "./MessengersSelect";
export default {
  name: "UsersView",
  components: {
    Modal,
    MessengersSelect,
    'entity-select': Select
  },
  data() {
    return {
      http,
      cloneDeep,
      data: [],
      newUser: {},
      showAddModal: false,
      updatedUser: false
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      http('get', 'users')
        .then(res => {
          this.data = res
        })
    },
    addUser() {
      http('post', 'users', {
        fio: this.newUser.fio,
        phone: this.newUser.phone,
        age: Number(this.newUser.age),
        genderId: Number(this.newUser.genderId),
        tarifId: Number(this.newUser.tarifId),
        cityId: Number(this.newUser.cityId)
      })
        .then(res => {
          if (res.status === 201) {
            this.getData()
            alert('Пользователь добавлен успешно')
            this.showAddModal = false
          }
        })
    },
    update() {
      http('put', `users/${this.updatedUser.id}`, {
        fio: this.updatedUser.fio,
        phone: this.updatedUser.phone,
        age: Number(this.updatedUser.age),
        genderId: Number(this.updatedUser.genderId),
        tarifId: Number(this.updatedUser.tarifId),
        cityId: Number(this.updatedUser.cityId),
        messengerId: this.updatedUser.messengerId
      })
        .then(res => {
          if (res.status === 200) {
            this.getData()
            alert('Пользователь обновлён')
            this.updatedUser = false
          }
        })
    },
    deleteUser(id) {
      http('delete', `users/${id}`)
        .then(res => {
          if (res.status === 200) {
            this.getData()
            alert('Пользователь удалён')
          }
        })
    }
  }
}
</script>

<style scoped>

table {
  border-collapse: collapse;
  border: 1px solid black;
}
td, th {
  padding: 3px;
  border: 1px solid black;
}
</style>
